[package]
name = "core"
version.workspace = true
edition.workspace = true

[lib]
doctest = false

[dependencies]
anyhow.workspace = true
thiserror.workspace = true
time.workspace = true
polars.workspace = true
duckdb.workspace = true
